*{
  margin: 0;
  padding: 0;
}
.logo
{
  height: 48px;
  padding: 2px, 1px;
}
.navbar-right
{
  text-align: right;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(0,0,0);
}
.form-check-input
{
  color: rgb(0,0,0);
}
.navbar-nav.navy
{
  height: 80px;
  display: inline-block;
}
